@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h4 class="display-4">Üdvözöljük</h4>
    <h4 class="display-4">Autoalkatrész Kft.-nél</h4>
    <h1 class="display-6">Kérem válasszon a menük között!</h1>

     <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Alkatreszeks" asp-action="Index">Alkatrészek</a>
                        </li>


  
  

    
</div>
